$main-font: arial, sans-serif;
$font-size: 30px;
$cell-color: rgba(177, 192, 111, 0.36);
$hover-border: rgba(88, 10, 10, 0.89);
$hover-color: pink;
$margin-cells: 1px;
$cell-size: 100px;
$total-width: ($cell-size + 1px)*7;
$total-height: ($cell-size + 1px)*5;
$days-count: 28, 29, 30;
$week-days: (
  "tue" : 1,
  "wed" : 2,
  "thu" : 3,
  "fri" : 4,
  "sat" : 5,
  "sun" : 6
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: $main-font;
  font-size: $font-size;
}

.calendar {
  display: flex;
  text-align: center;
  line-height: $cell-size;
  flex-wrap: wrap;
  width: $total-width;
  height: $total-height;
}

@for $i from 1 through 31 {
  .calendar :nth-child(n + #{$i}) {
    width: $cell-size;
    height: $cell-size;
    background-color: $cell-color;
    border: 1px solid black;
    margin: $margin-cells;
    position: relative;
  }
}

@for $i from 1 through 31 {
  .calendar :nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $i from 1 through 31 {
  .calendar :nth-child(n + #{$i}):hover {
    cursor: pointer;
    border: 2px solid $hover-border;
    background-color: $hover-color;
    border-top-left-radius: 100% 20px;
    border-bottom-right-radius: 100% 20px;
    transition-duration: 0.59s;
    top: -20px;
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} > div:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

@each $week-days, $n in $week-days {
  .calendar-#{$week-days} :first-child {
    margin-left: $n * ($cell-size) + $margin-cells * 3;
  }
}
